body{
	/*background-color:salmon;*/
}
.main_content{
	margin-top: 100px;
	background-color:white;
}

.playlist_titles{
	line-height: 50px;
	font-size: 20px;
	
}


.container{   /*fix later. this is overrighting materialize*/
	padding: 0px;
}

.wtppicture{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 700px;
}

.picture{
	padding-top: 20px;
}

.nav_bar{
	 width:100%;
	 /*height:50px;*/
	 position:fixed;
	 bottom:0px;
	 background: white;

}

.insta{
	line-height: 80px;
	font-size: 50px;
	color: salmon;
}

.row{
	margin:0px; /*fix later. this is overrighting materialize*/
}

.divider{
	width: 80%;
}

.text{
	color: salmon;
}