body {
	/* background-color:  #D4AF37;; */
	font-size: 15px;
	margin-top: 50px;
}

.bigname {
	font-size: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D4AF37;
	/* margin-bottom: ; */
}	

/* .icons {
	font-size: 20px;
} */
