
<div class="main_content container z-depth-1 center-align">
	
	<a href="https://play.google.com/store/music/album/Justin_Timberlake_FutureSex_LoveSounds?id=B4smzhv4hcrq2dm3gh6awopw37y" target="_blank">
		<img class="picture center-align"src="images/future_sex_love_sounds.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Pink_Floyd_The_Dark_Side_Of_The_Moon?id=Bdk5ab2rzncjc72ovwrb3e2kcpm" target="_blank">
		<img class="picture center-align"src="images/dark_side_of_the_moon.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Kendrick_Lamar_good_kid_m_A_A_d_city?id=Bsmwzhrnfdriq72isfh7ajz4m2y" target="_blank">
		<img class="picture center-align"src="images/good_kid_maad_city.png"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Kanye_West_My_Beautiful_Dark_Twisted_Fantasy?id=Bj7lf3xalq4vlywnwp7z7257a6i" target="_blank">
		<img class="picture center-align"src="images/my_beautiful_dark_twisted_tantasy.jpeg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Clean_Bandit_New_Eyes?id=Bltshv7rfvzmfku7cccd5qporha" target="_blank">
		<img class="picture center-align"src="images/new_eyes.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/ScHoolboy_Q_Oxymoron_Deluxe?id=Bfbx7outcmoh2ourxqfstcsf6qu" target="_blank">
		<img class="picture center-align"src="images/oxymoron.jpg" width="500px"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Gnarls_Barkley_St_Elsewhere?id=Bgfgvg6vbzflq43uxgiglyxw6ny" target="_blank">
		<img class="picture center-align"src="images/st_elsewhere.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Drake_Take_Care_Deluxe?id=Bsvjqdcox3xvgx3ch7dnakcpexe" target="_blank">
		<img class="picture center-align"src="images/take_care.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Lil_Wayne_Tha_Carter_III?id=B2kfsl5yybsfy6nvfhhpybyamai" target="_blank">
		<img class="picture center-align"src="images/tha_carter_3.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Kendrick_Lamar_To_Pimp_A_Butterfly?id=Bxno4dwxtvymibbibjafrmsk5fi" target="_blank">
		<img class="picture center-align"src="images/to_pimp_a_butterfly.jpg"/>
	</a>
	
	<a href="https://play.google.com/store/music/album/Drake_Nothing_Was_The_Same_Deluxe?id=Bm3s2tpk7nfex74efmb6jrp3cq4" target="_blank">
		<img class="picture center-align"src="images/nothing_was_the_same.jpg"/>
	</a>
	
	
</div>