
<div class="main_content container z-depth-1 center-align">
	
	
	<img class="picture center-align"src="images/future_sex_love_sounds.jpg"/>
	
	<img class="picture center-align"src="images/dark_side_of_the_moon.jpg"/>
	
	<img class="picture center-align"src="images/good_kid_maad_city.png"/>
	
	<img class="picture center-align"src="images/my_beautiful_dark_twisted_tantasy.jpeg"/>
	
	<img class="picture center-align"src="images/new_eyes.jpg"/>
	
	<img class="picture center-align"src="images/oxymoron.jpg" width="500px"/>
	
	<img class="picture center-align"src="images/st_elsewhere.jpg"/>
	
	<img class="picture center-align"src="images/take_care.jpg"/>
	
	<img class="picture center-align"src="images/tha_carter_3.jpg"/>
	
	<img class="picture center-align"src="images/to_pimp_a_butterfly.jpg"/>
	
	<img class="picture center-align"src="images/nothing_was_the_same.jpg"/>
	
	
	
</div>