<div class="main_content z-depth-1 center-align">
	
	<div class = "playlist_titles">
		<a href="https://instagram.com/nfix6/" target="_blank">
			<i class="icon ion-social-instagram insta" width="500px"></i>
			<div class="divider container" ng-show="!$last"></div>
		</a>
	</div>
	<div class = "playlist_titles">
		<a href="https://github.com/njfix6/" target="_blank">
			<i class="icon ion-social-github insta" width="500px"></i>
			<div class="divider container" ng-show="!$last"></div>
		</a>
	</div>
	<div class = "playlist_titles">
		<a href="mailto:njfix6@gmail.com" target="_blank">
			<i class="icon ion-android-mail insta" width="500px"></i>
			<div class="divider container" ng-show="!$last"></div>
		</a>
	</div>
	
	<div class = "playlist_titles" ng-repeat="project in projects">
		<a href="/{{project.viewFileName}}">
			<div class="text">{{project.name}}</div>
			<div class="divider container" ng-show="!$last"></div>
		</a>
	</div>
</div>

